@font-face {
  font-family: Nyash;
  src: url(/public/regular-fonts/Arima-VariableFont_wght.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/public/regular-fonts/Poppins-Regular.ttf);
}

* {
  font-family: Nyash;
  transition: 0.5s;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.text-success {
  color: #0b6c0b;
}
.text-danger {
  color: #d10404;
}

.quill-editor .ql-container {
  min-height: 400px;
  height: 100%;
  font-size: 20px;
}
.quill-editor img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.loading-container {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.loading-container .loading-center {
  height: 100px;
  display: flex;
  align-items: center;
}
.loading-container .loading-center .loading {
  height: 40px;
  width: 7px;
  background-color: #056705;
  margin-right: 0.4rem;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.loading-container .loading-center .loading1 {
  animation-name: loading1;
  animation-delay: 0.1s;
}
.loading-container .loading-center .loading2 {
  animation-name: loading2;
  animation-delay: 0.3s;
}
.loading-container .loading-center .loading3 {
  animation-name: loading3;
  animation-delay: 0.5s;
}
@keyframes loading1 {
  0% {
    height: 10px;
  }
  40% {
    height: 40px;
  }
}
@keyframes loading2 {
  0% {
    height: 10px;
  }
  70% {
    height: 40px;
  }
}
@keyframes loading3 {
  0% {
    height: 10px;
  }
  100% {
    height: 40px;
  }
}
.user-nav {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.user-nav .nav-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 30px;
  color: whitesmoke;
  font-weight: 600;
  margin-left: 0.6rem;
}
.logo .rlo {
  color: #16b816;
}

.user-nav .menu-wide {
  width: auto;
  background-color: #000;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
  position: fixed;
  z-index: 2;
  right: 0;
}
.user-nav .menu-wide .link {
  text-decoration: none;
  color: #f5f5f5;
  margin: 0 1rem;
  font-weight: 600;
  font-size: 16px;
}
.user-nav .menu-wide .link.active {
  color: #24cd24;
}

.user-nav .menu {
  display: none;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 0.3rem 1rem;
  color: #24cd24;
  width: 100px;
  position: fixed;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
}
.user-nav .menu span {
  font-weight: 600;
  margin-top: 0.2rem;
}
nav .links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 2rem;
  max-width: 700px;
}
.user-nav .links-container .search-icon {
  color: white;
  font-size: 20px;
}
.user-nav .links-container ul {
  width: 100%;
  margin-right: 1rem;
  display: flex;
  list-style-type: none;
}
.user-nav .links-container ul li {
  margin: 0 1rem;
}
.user-nav .links-container ul li .link {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
.user-nav .baek_link {
  color: black;
  font-size: 25px;
  cursor: pointer;
  margin-left: 0.6rem;
}
.sidenav-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  transform: translate(0%);
  visibility: visible;
  z-index: 1;
}
.sidenav {
  width: 100%;
  height: 110vh;
  background-color: #000f00;
  max-width: 300px;
  transform: translate(0%);
  padding: 1rem;
  box-sizing: border-box;
}
.sidenav .header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.sidenav .header button {
  color: white;
  background-color: transparent;
  font-size: 25px;
}
.sidenav .sidenav-link {
  color: whitesmoke;
  font-size: 20px;
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 2rem 0;
}
.sidenav .sidenav-link span {
  display: flex;
  align-items: center;
  width: 100%;
}
.sidenav .sidenav-link i {
  margin-right: 0.5rem;
}
.sidenav-container-close {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 1;
}
.sidenav-container-close .sidenav {
  transform: translate(-105%);
}

/* Notification component */
.notification-container {
  display: flex;
  justify-content: center;
  transition: 0s;
}
.notification-container .notification {
  background-color: #fff;
  width: 400px;
  height: auto;
  padding: 1rem;
  margin: 0 1rem;
  position: fixed;
  top: 0;
  display: flex;
  font-weight: 600;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(209, 205, 205, 0.741);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s;
  z-index: 9;
}
.notification-container .down {
  transform: translateY(0);
}
.notification-container .up {
  transform: translateY(-150%);
}

/* Login and Registration Page */
.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login-container form {
  display: grid;
  place-items: center;
}
.login-container .inp-handler {
  display: grid;
  place-items: center;
}
.login-container .inp-handler .inp-holder {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #054e05;
  border-radius: 5px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.login-container .inp-handler .inp-holder input {
  background-color: transparent;
  padding-left: 0.5rem;
  border: 0;
  outline: 0;
  width: 100%;
}
.login-container .inp-handler .btn-holder {
  width: 300px;
  display: flex;
  justify-content: center;
}
.login-container .inp-handler .btn-holder button {
  background-color: #054e05;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 3px;
  padding: 0.2rem 1.2rem;
}
.login-container .rh-sec {
  height: 100vh;
  width: 100%;
  background-image: url(/public/imgs/emmanuel-ikwuegbu-T4q6ZPpYjog-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container h3 {
  width: 95%;
  margin-bottom: 0rem;
}
.login-container .question {
  width: 95%;
}
.login-container .answer {
  width: 95%;
  height: 200px;
  border: 2px solid #054e05;
  outline: 0;
  font-size: 18px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/public/imgs/emmanuel-ikwuegbu-T4q6ZPpYjog-unsplash.jpg);
  width: 100%;
  height: 63vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner span {
  position: absolute;
  transform: translate(-155%);
}
.banner .active-carousel {
  transform: translate(0%);
}
.banner .banner-center {
  height: 500px;
  padding: 10rem 1rem;
  box-sizing: border-box;
  color: whitesmoke;
  width: 100%;
  max-width: 1000px;
}
.banner .banner-center h1 {
  margin-top: 0;
  font-size: 50px;
}
.banner .banner-center em {
  font-size: 25px;
  font-weight: 400;
}
.news-letter {
  box-sizing: border-box;
  background-color: white;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.news-letter span {
  font-size: 20px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 1rem;
}
.news-letter form {
  width: 100%;
  max-width: 450px;
}
.news-letter input {
  width: 100%;
  max-width: 300px;
  font-size: 18px;
  padding: 0.7rem 1rem;
  border: none;
  background-color: white;
  border: 2px solid rgb(208, 207, 207);
  outline-color: #0b6c0b;
  margin-right: 0.3rem;
  border-radius: 50px;
}
.news-letter button {
  background-color: #0b6c0b;
  color: whitesmoke;
  padding: 0.7rem 1rem;
  font-size: 18px;
  border-radius: 10px;
}

.req-admin {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/public/imgs/obinna-okerekeocha-fGd8paHzN98-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0rem 1rem;
  display: grid;
  place-items: center;
  color: #fff;
  padding: 1rem;
  background-attachment: fixed;
}
.req-admin h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
.req-admin p {
  font-size: 20px;
  font-weight: 600;
}
.req-admin button {
  background-color: transparent;
  color: whitesmoke;
  padding: 0.7rem 1rem;
  font-size: 18px;
  border: 3px solid #0b6c0b;
}

.tags-container {
  padding: 0.5rem 1rem;
}
.tags-container h1 {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  max-width: 220px;
  justify-content: space-between;
  font-size: 25px;
  color: #074d07;
  border-left: 5px solid #074d07;
  padding-left: 0.5rem;
  border-radius: 5px;
}
.tags-container .tag-icon {
  color: #0b6c0b;
}
.singleTagCont {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
}
.singleTagCont .singleTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem 1.5rem;
  margin: 1rem;
  border-radius: 30px;
  text-transform: capitalize;
  color: #074d07;
  text-decoration: none;
  box-shadow: 0px 8px 24px rgba(209, 205, 205, 0.741);
}
.singleTagCont .singleTag .img {
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  border-radius: 50%;
}
.singleTagCont .singleTag .chevron-right {
  color: #063a06;
  margin-left: 0.5rem;
}
.posts {
  padding: 0.5rem 1rem;
}
.posts .header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 215px;
  justify-content: space-between;
  font-size: 25px;
  color: #074d07;
  border-left: 5px solid #074d07;
  padding-left: 0.5rem;
  border-radius: 5px;
}
.singlePost-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
}
.singlePost {
  border-radius: 10px;
  margin: 1rem;
  background-color: white;
  box-shadow: 0px 8px 24px rgba(209, 205, 205, 0.741);
}
.singlePost .img {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.singlePost .content {
  padding: 0.5rem;
}
.singlePost .content .link {
  color: black;
  text-decoration: none;
}
.singlePost .tag {
  margin: 0.2rem;
  border-radius: 2px;
  background-color: whitesmoke;
  font-weight: 600;
  color: #1fa91f;
  text-transform: capitalize;
}
.singlePost .content h1::first-letter {
  text-transform: capitalize;
}
.singlePost .content p::first-letter {
  text-transform: capitalize;
}

.posts.featured {
  width: 100%;
  background-color: #fff;
}
.posts.featured .post {
  display: flex;
  width: 90%;
  padding: 1rem 2rem;
}
.posts.featured .post .img {
  background-image: url(/public/imgs/tope-a-asokere-aWc0hP9OoVI-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 50%;
  border-radius: 5px;
}
.posts.featured .post .content {
  margin: 0 1rem;
}
.posts.featured .post .content:hover {
  color: #033903;
  text-decoration: underline;
}
.posts.featured .post .content h1 {
  margin: 0;
  font-size: 50px;
}
.posts.featured .post .content .link button {
  margin: 0.2rem;
  border-radius: 2px;
  background-color: whitesmoke;
  font-weight: 600;
  color: #1fa91f;
  text-transform: capitalize;
}

.apost_container {
  padding: 3.5rem 1rem;
}
.apost_container .breadcrumb {
  color: #a5a3a3;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  font-style: italic;
}
.apost_container .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.apost_container .wrapper .postImg {
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  flex-basis: 29%;
  border-radius: 5px;
}
.apost_container .wrapper .entry_header {
  flex-basis: 70%;
}
.apost_container .wrapper .entry_header .info {
  display: flex;
  width: 100%;
  background-color: #fff;
  max-width: 280px;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  box-shadow: 0px 2px 8px rgba(217, 216, 216, 0.593);
}
.apost_container .wrapper .entry_header .info .img {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.apost_container .wrapper .entry_header .info .detail {
  margin-left: 0.5rem;
}
.apost_container .wrapper .entry_header .info .detail b {
  display: block;
  line-height: 1;
  margin-bottom: 0;
}
.apost_container .wrapper .entry_header .description h1 {
  font-size: 30px;
  margin-bottom: 0.2rem;
  text-transform: capitalize;
}
.loadMoreCont {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadMoreCont button {
  background-color: #054e05;
  color: white;
  font-weight: 600;
  width: 160px;
  height: 40px;
  border-radius: 30px;
}
.about-content {
  height: 100vh;
  padding: 4rem 1rem;
}

.bloggers-container {
  padding: 4rem 1rem;
  width: 100%;
}
.bloggers-container .header {
  display: grid;
  place-items: center;
}
.bloggers-container .header h1 {
  margin-bottom: 0;
}

.bloggers-container .body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  margin: 0 auto;
}
.bloggers-container .body .layout {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  margin: 1rem;
}
.bloggers-container .body .layout .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.bloggers-container .body .layout .content {
  margin-top: 1rem;
}
.bloggers-container .body .layout .content .socials {
  margin-top: 0.5rem;
  display: table;
}
.bloggers-container .body .layout .content .socials .icon {
  margin-right: 1rem;
}

.blogger-post-container {
  padding: 4rem 1rem;
}
.blogger-post-container .header .header-center {
  display: grid;
  place-items: center;
}

.all-posts-container {
  padding: 4rem 1rem;
  display: grid;
  place-items: center;
}
.all-posts-container .header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.all-posts-container .header .header-center {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.all-posts-container .header .header-center h1 {
  font-size: 30px;
}
.all-posts-container .header .header-center .inp-holder {
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  border-radius: 35px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(209, 205, 205, 0.741);
  display: flex;
  align-items: center;
  font-size: large;
}
.all-posts-container .header .header-center .inp-holder input {
  width: 90%;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: large;
  background-color: transparent;
}

.categ-container {
  padding: 4rem 1rem;
  display: grid;
  place-items: center;
}
.categ-container .header {
  display: flex;
  justify-content: center;
}
.categ-container .header .header-center {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.categ-container .header .header-center h1 {
  font-size: 30px;
}
.categs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.categs .categ {
  margin: 1rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgb(195, 190, 190);
}
.categs .categ h1 {
  text-transform: capitalize;
}
.categs .categ p::first-letter {
  text-transform: capitalize;
}
.categs .categ .img {
  margin: 1rem auto;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.categs .categ .content-link {
  color: black;
  text-decoration: none;
}
.categs .categ .content {
  height: 100%;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.1s;
}
.categs .categ .content:hover {
  text-decoration: underline;
  color: #074d07;
}

.cat_posts_container {
  padding: 3rem 1rem;
}
.cat_posts_container .header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.cat_posts_container .header .header-center {
  width: 100%;
  max-width: 600px;
}
.cat_posts_container .header h1 {
  font-size: 30px;
  text-transform: capitalize;
}
.cat_posts_container .header p::first-letter {
  text-transform: capitalize;
}
.cat_posts .cat_posts_header {
  border-left: 5px solid #054e05;
  border-radius: 5px;
  padding-left: 0.5rem;
  font-size: 25px;
  font-weight: 600;
  color: #033903;
  margin: 2rem 0;
}
.contact-main {
  background-color: #fff;
}
.contact-flex h1 {
  margin-top: 1rem;
  font-size: 30px;
  flex-basis: 100%;
}
.contact-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 4rem 1rem 0;
  margin-bottom: 1rem;
}
.contact-form {
  flex-basis: 50%;
  padding: 0 2rem;
}
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 0.7rem;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: rgb(195, 190, 190);
  outline-color: #0b6c0b;
}
.contact-form button {
  background-color: #056705;
  padding: 0.7rem 2rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 50px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white;
}
.contact-image {
  flex-basis: 40%;
  padding: 2rem;
}
.error-section {
  height: 50vh;
  padding: 4rem 1rem;
}
footer {
  background-color: #022302;
  padding: 1rem;
  color: white;
  box-sizing: border-box;
  box-sizing: border-box;
}
footer .footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .quick-links .link {
  margin: 1rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: 0.1s;
}
footer .quick-links .link:hover {
  color: grey;
}
footer .quick-links .link span {
  margin-left: 0.5rem;
}
footer .tags {
  flex-basis: 60%;
}
footer .tag {
  display: block;
  color: white;
  text-decoration: none;
  width: 300px;
  margin: 1rem;
  text-transform: capitalize;
}
footer .news-letter {
  background-color: transparent;
}

/***************** ADMIN STYLING ********************* */
.admin-main {
  padding: 1rem;
}
.admin-main .logo {
  background-color: #000;
  display: block;
  margin: 0;
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  box-shadow: 0px 2px 12px rgba(217, 216, 216, 0.593);
}
.admin-dd {
  cursor: pointer;
  margin: 1rem 0 2rem;
  width: 100%;
}
.admin-dd .click {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.admin-dd .dd-list {
  position: absolute;
  right: 1rem;
  background-color: #fff;
  padding: 0.3rem 1rem;
  margin: 0.3rem;
  border-radius: 5px;
  box-shadow: 0px 2px 12px rgba(217, 216, 216, 0.593);
  display: flex;
  align-items: center;
}
.admin-dd .dd-list.hide {
  display: none;
}

.admin-links {
  width: 100%;
}

.admin-links .link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  margin-right: 1rem;
}

.admin-links .link.active {
  border-bottom: 3px solid #24cd24;
  color: #24cd24;
}

.admin-main {
  background-color: #fff;
  height: 100%;
}
.admin-main.dashboard .header h1 {
  display: table;
  margin-bottom: 0;
}
.admin-main.dashboard .header span {
  color: grey;
}
.admin-main.dashboard .layouts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.admin-main.dashboard .layouts .layout {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0px 4px 4px rgba(217, 216, 216, 0.593);
  border-radius: 7px;
  width: 100%;
  max-width: 300px;
  border-left: 4px solid #0b6c0b;
}
.admin-main.dashboard .layouts .layout .icon {
  font-size: 50px;
  color: #0b6c0b;
}
.admin-main.dashboard .layouts .layout .content {
  margin-left: 0.5rem;
}
.admin-main.dashboard .layouts .layout .content strong {
  display: block;
  font-size: 20px;
}
.admin-main.dashboard .layouts .layout .content span {
  display: block;
  font-size: 30px;
  font-weight: 600;
}
.admin-main.dashboard .table-container {
  width: 100%;
  overflow: auto;
}
.admin-main.dashboard table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
}
.admin-main.dashboard table .img {
  border-radius: 5px;
  width: 250px;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.admin-main.dashboard table td {
  min-width: 150px;
  font-size: 16px;
  align-items: center;
  border: 1px solid transparent;
  padding: 8px;
  padding-right: 2rem;
}
.admin-main.dashboard table tr:hover {
  background-color: #eeffee;
}
.admin-main.dashboard table td.post {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  min-width: 300px;
}
.admin-main.dashboard table td .actn-btns {
  display: table;
  width: 150px;
}
.admin-main.dashboard table td .actn-btns button {
  padding: 0.3rem;
  margin: 0.2rem;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  margin-right: 1rem;
}
.admin-main.dashboard table td.post .content {
  margin-left: 1rem;
  width: 400px;
}
.admin-main.dashboard table td.wide {
  min-width: 200px;
}
.admin-main.dashboard table td strong {
  font-size: 17px;
  text-transform: capitalize;
}
.admin-main.dashboard table td button#approve-btn {
  border: 1px solid #056705;
  color: #056705;
  background-color: transparent;
}
.admin-main.dashboard table td button#block-btn {
  border: 1px solid #ff0f0f;
  color: #ff0f0f;
  background-color: transparent;
}
.admin-main.dashboard table td button#unblock-btn {
  border: 1px solid #ffd700;
  color: #ffd700;
  background-color: transparent;
}
.admin-main.dashboard table th {
  text-align: left;
  font-size: 20px;
  padding-bottom: 1rem;
}
.admin-main.dashboard table th .icon {
  color: #054e05;
}

/* super admin manage accounts */
.admin-main.dashboard .accounts table td.post .content {
  width: 200px;
}
.admin-main.dashboard .accounts table .img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.admin-main.dashboard .accounts table th {
  font-size: 20px;
}
.admin-main.dashboard .accounts table .img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.admin-main.dashboard .accounts table th {
  font-size: 20px;
}

/* super admin categories */
.admin-main.dashboard .categories form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.admin-main.dashboard .categories form .inp-holder {
  border: 1px solid #054e05;
  width: 98%;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin: 0.5rem 0;
}
.admin-main.dashboard .categories form .inp-holder input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}
.admin-main.dashboard .categories form .btn-holder {
  width: 100%;
  margin-top: 0.5rem;
}
.admin-main.dashboard .categories form .btn-holder button {
  font-weight: 600;
  width: 100px;
  border-radius: 3px;
  background-color: #054e05;
  color: #fff;
  padding: 0.3rem;
}
.admin-main.dashboard .categories table .img {
  border-radius: 5px;
  width: 160px;
  height: 120px;
}
/* super admin did you know */
.admin-main.dashboard .duks form {
  display: flex;
  align-items: center;
  width: 70%;
}
.admin-main.dashboard .duks form .inp-holder {
  border: 1px solid #054e05;
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.3rem;
}
.admin-main.dashboard .duks form .inp-holder input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}
.admin-main.dashboard .duks form .btn-holder button {
  font-weight: 600;
  width: 100px;
  border-radius: 3px;
  background-color: #054e05;
  color: #fff;
  padding: 0.3rem;
}

.admin-main.write form {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 4px 12px rgba(217, 216, 216, 0.593);
}
.admin-main.write form .inp-holder,
.admin-main.write form .check-holder {
  margin-bottom: 1rem;
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid rgb(204, 204, 204);
  /* box-shadow: 0px 2px 12px rgba(217, 216, 216, 0.593); */
  border-radius: 5px;
}
.admin-main.write form .inp-holder label {
  display: table;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.admin-main.write form .inp-holder input {
  width: 100%;
  padding: 0.3rem 0;
  font-size: 18px;
  outline: none;
  border: none;
}
.admin-main.write form .inp-holder input#title {
  font-size: 30px;
  text-transform: capitalize;
}
.admin-main.write form .check-holder {
  display: flex;
  flex-wrap: wrap;
}
.admin-main.write form .check-holder .check {
  display: flex;
  align-items: center;
  margin-right: 0.7rem;
}
.admin-main.write form .inp-holder textarea {
  width: 100%;
  height: 300px;
  padding: 0.3rem;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.admin-main.write form .btn-holder {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.admin-main.write form .btn-holder button {
  background-color: #063a06;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
}

.admin-main.my-posts .posts-container {
  width: 100%;
  padding: 1rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}
.admin-main.my-posts .posts-container .post {
  display: flex;
  width: 95%;
  height: 200px;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 24px rgba(209, 205, 205, 0.741);
}
.admin-main.my-posts .posts-container .post .thumb {
  width: 30%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.admin-main.my-posts .posts-container .post .content {
  margin: 0.5rem;
  width: 75%;
  position: relative;
}
.admin-main.my-posts .posts-container .post .content h2 {
  margin: 0 0 0.3rem;
}
.admin-main.my-posts .posts-container .post .content h2::first-letter {
  text-transform: uppercase;
}

.admin-main.my-posts .posts-container .post .content .tag {
  margin-top: 1rem;
  margin-right: 0.3rem;
  border-radius: 2px;
  background-color: whitesmoke;
  font-weight: 600;
  color: #1fa91f;
  text-transform: capitalize;
}
.admin-main.my-posts .posts-container .post .content .actn-btns {
  display: flex;
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
}
.admin-main.my-posts .posts-container .post .content .actn-btns button {
  padding: 0.3rem;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  border-radius: 3px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(209, 205, 205, 0.741);
}
.admin-main.my-posts .posts-container .post .content .actn-btns button#del {
  color: red;
}
.admin-main.my-posts .posts-container .post .content .actn-btns button#edit {
  color: #056705;
}

.admin-main.account .header {
  width: 100%;
}
.admin-main.account .header .header-center {
  display: grid;
  place-items: center;
  width: 100%;
}
.admin-main.account .header .header-center .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.admin-main.account .body {
  width: 100%;
}
.admin-main.account .body form {
  width: 80%;
  background-color: #fff;
  border: 1px solid #c8c7c7;
  margin: 0 auto;
}
.admin-main.account .body form .inp-handler {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.admin-main.account .body form .inp-holder {
  width: 90%;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #c8c7c7;
  border-radius: 5px;
}
.admin-main.account .body form .inp-holder input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: medium;
}
.admin-main.account .body form .btn-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.admin-main.account .body form .btn-holder button {
  font-size: large;
  border: 1px solid #054e05;
  color: #fff;
  font-weight: 500;
  background-color: #054e05;
  border-radius: 3px;
  width: 250px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.modal-container.close {
  display: none;
}
.modal-container .modal {
  background-color: #fff;
  width: 500px;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(209, 205, 205, 0.741);
}
.modal-container .modal .header {
  display: flex;
  justify-content: space-between;
}
.modal-container .modal h2 {
  margin: 0 auto;
  display: table;
  text-align: center;
}
.modal-container .modal .header h2 {
  text-align: left;
  margin: 0;
}
.modal-container .modal .header button {
  background-color: transparent;
  font-size: large;
}
.modal-container .modal input {
  width: 100%;
  border: 1px solid #054e05;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 3px;
  outline: none;
}
.modal-container .modal .btn-holder {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal-container .modal .btn-holder button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
}
.modal-container .modal .btn-holder button#cancel {
  background-color: #acaaaa;
}
.modal-container .modal .btn-holder button#del {
  background-color: #d10404;
}
